[push]
	default = simple
[core]
	trustctime = false
	editor = vim
	filemode = false
	autocrlf = input
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --oneline --decorate --all --graph
	s = status -s
[user]
	email = paul.adam@live.se
	name = pauliea
[pull]
	rebase = true
[rerere]
	enabled = true
